<div class="form-center">

<%= form_for(:parties, url: party_code_path ) do |f| %>
<label>
	<%= f.text_field :party_code,:required => true %>
	<div class="label-text" > Party Code </div>
</label>
<%= f.submit "Find", :id =>"party-code-submit" %>
<% end %>
<h4 class="form-header" id="logIn-slide"> BACK TO LOGIN</h4>
</div>