<div class="form-center" id="one-time-host-form">
<h4 class="form-header" > CREATE AN EVENT </h4>

<%= form_for(:parties, url: party_upon_path, :id => 'host-payment-form') do |f| %>


<label>
<%= f.text_field :tag,:required => true %>
<div class="label-text" > Tag </div>
</label>

<label>
<%= f.text_field :address, :id => "autocomplete", :onFocus => "geolocate()" , :placeholder => " ", :required => true %>
<div class="label-text" > Street Address </div>
</label>


<%= f.hidden_field :longitude %>
<%= f.hidden_field :latitude %>
<%= f.hidden_field :rating, :value => 0 %>
<%= f.hidden_field :start_time %>
<%= f.hidden_field :end_time %>


<label>
<%= f.date_field :date,:required => true %>
<div class="label-text" > Date </div>
</label>


<label>
<input type="time" required />
<div class="label-text" > start time </div>
</label>


<label>
<input type="time" required />
<div class="label-text" > end time </div>
</label>

<label>
<%= f.check_box :is_public,:required => true %>
<div class="label-text" > is public </div>
</label>


<h4 class="form-header" id="one-time-host-payment-header"> SECURE YOUR EVENT </h4>
<div class="host-arrows"></div>

</div>

<div class="form-center" id="one-time-host-payment">

	
	  <div class="form-row">
    <label for="card-element">
      Credit or debit card
    </label>
    <div id="host-card-element">
      <!-- A Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display Element errors. -->
    <div id="host-card-errors" role="alert"></div>
  </div>



<script>
	var autocomplete;
    var stripe = Stripe('pk_test_4WpGfqeTASO8DL3ZKyQNcM2U');
  var elements = stripe.elements();
  var style = {
    base: {
    // Add your base input styles here. For example:
      fontSize: '12px',
      color: "rgba( 0, 188, 212, 1)", 
      fontFamily: "'Monda', sans-serif",
      letterSpacing: '3px',    
  }
};

// Create an instance of the card Element.
  var card = elements.create('card', {style: style});

// Add an instance of the card Element into the `card-element` <div>.
  card.mount('#host-card-element');


  card.addEventListener('change', function(event) {
  var displayError = document.getElementById('host-card-errors');
  if (event.error) {
    displayError.textContent = event.error.message;
  } else {
    displayError.textContent = '';
  }
});

  // Create a token or display an error when the form is submitted.
var form = document.getElementById('host-payment-form');
form.addEventListener('submit', function(event) {
  event.preventDefault();

  stripe.createToken(card).then(function(result) {
    if (result.error) {
      // Inform the customer that there was an error.
      var errorElement = document.getElementById('card-errors');
      errorElement.textContent = result.error.message;
    } else {
      // Send the token to your server.
      stripeTokenHandler(result.token);
    }
  });
});



function codeAddress() {
    var address = document.getElementById('parties_address').value;
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == 'OK') {
      	document.getElementById('parties_latitude').value = results[0].geometry.location[0];
      	document.getElementById('parties_longitude').value = results[0].geometry.location[1];
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });
  }

  function geolocate() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var geolocation = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };
      var circle = new google.maps.Circle({
        center: geolocation,
        radius: position.coords.accuracy
      });
      autocomplete.setBounds(circle.getBounds());
    });
  }
}

  </script>
	
	<%= f.submit "Party On", :id => "party-submit", :onclick =>"codeAddress()" %>

	<h4 class="form-header" id="one-time-host-back"> BACK </h4>
</div>



<% end %>
