<% provide(:title, "Party Rock") %>
<p> Displays all parties </p>


<h4> Your Session Expires at <%= time_split %> </h4>

<h4> Time Left </h4>
<h4 id="time_left">0</h4>

    <div id="allParties"></div>


    <script>
      function allMap() {
      	<% @parties.each do |party| %>
        var uluru = {lat: @party.latitude, lng: @party.longitude };
        var map = new google.maps.Map(document.getElementById('allParties'), {
          zoom: 13,
          center: uluru,
          disableDefaultUI: true,
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
       <% end %>

    </script>


    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDryw1evdmCtZ73TXe2TqM1jTWhloVbBtU&libraries=places&callback=allParties">
    </script>
