<% provide(:title, "Party Page") %>
<h4 class="form-header"> <%= @party.party_code %></h4>
    <div id="partyPage"></div>

    <script>
      function showMap() {
        var uluru = {lat: @party.latitude, lng: @party.longitude };
        var map = new google.maps.Map(document.getElementById('partyPage'), {
          zoom: 13,
          center: uluru,
          disableDefaultUI: true,
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });

    </script>


    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDryw1evdmCtZ73TXe2TqM1jTWhloVbBtU&libraries=places&callback=showMap">
    </script>
 