<div class="form-center" id="edit-form">
<h4 class="form-header"> TALKING ABOUT UPDATES </h4>
<%= form_for(@host) do |f| %>
<label>
<%= f.text_field :username,:required => true %>
<div class="label-text" > Username </div>
</label>

<label>
<%= f.email_field :email,:required => true %> 
<div class="label-text" > Email </div>
</label>

<label>
<%= f.password_field :password, :required => true %>
<div class="label-text" > Password </div>
</label>

<label>
<%= f.password_field :password_confirmation, :required => true %>
<div class="label-text" > Password Confirmation </div>
</label>

<%= f.submit "UPDATE", :id => "update-bttn" %>
<% end %>
</div>