
<div class="form-center">
<h4 class="form-header"> LET'S MAKE THIS A THING </h4>
<%= form_for :host, url: a_thing_path do |f| %>
<label>
<%= f.text_field :username,:required => true %>
<div class="label-text" > Username </div>
</label>

<label>
<%= f.email_field :email,:required => true %> 
<div class="label-text" > Email </div>
</label>

<label>
<%= f.password_field :password, :required => true %>
<div class="label-text" > Password </div>
</label>

<label>
<%= f.password_field :password_confirmation, :required => true %>
<div class="label-text" > Password Confirmation </div>
</label>

<%= f.submit "You + us = WE...like OFFICIAL" %>
<% end %>
</div>

