  <div class="form-row">
    <label for="card-element">
      Credit or debit card
    </label>
    <div class="card-element">
      <!-- A Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display Element errors. -->
    <div class="card-errors" role="alert"></div>
  </div>



<script>
    var stripe = Stripe('pk_test_4WpGfqeTASO8DL3ZKyQNcM2U');
  var elements = stripe.elements();
  var style = {
    base: {
    // Add your base input styles here. For example:
      fontSize: '12px',
      color: "rgba( 0, 188, 212, 1)", 
      fontFamily: "'Monda', sans-serif",
      letterSpacing: '3px',    
  }
};

// Create an instance of the card Element.
  var card = elements.create('card', {style: style});

// Add an instance of the card Element into the `card-element` <div>.
  card.mount('.card-element');


  card.addEventListener('change', function(event) {
  var displayError = document.getElementById('card-errors');
  if (event.error) {
    displayError.textContent = event.error.message;
  } else {
    displayError.textContent = '';
  }
});

  // Create a token or display an error when the form is submitted.
var form = document.getElementsByClassName('payment-form');
form.addEventListener('submit', function(event) {
  event.preventDefault();

  stripe.createToken(card).then(function(result) {
    if (result.error) {
      // Inform the customer that there was an error.
      var errorElement = document.getElementById('card-errors');
      errorElement.textContent = result.error.message;
    } else {
      // Send the token to your server.
      stripeTokenHandler(result.token);
    }
  });
});



  </script>