<% provide(:title, "Welcome") %>
    <div id="map"></div>

    <script>
      function initMap() {
        var uluru = {lat: -22.915, lng: -43.197};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: uluru,
          disableDefaultUI: true,
          gestureHandling: 'none', 
          zoomControl: false
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
 
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDryw1evdmCtZ73TXe2TqM1jTWhloVbBtU&callback=initMap">
    </script>

<div id="invite-content">
<p id="invite"> 
</p>
</div>

<div class="invite-map">
</div>

<div class="bubbles" id="one">
</div>
<div class="bubbles" id="second">
</div>
<div class="bubbles" id="third">
</div>


<div class="location-marker-container">
</div>
<div class="location-marker-container-second">
</div>
<div class="location-marker">
	<span class="tooltiptext"><%= link_to "Yes", home_path %><span>
</div>



