// Place all the styles related to the Hosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media screen and (max-width: 2560px) {
	.form-center{
		margin: auto;
		width: 75%;
		padding: 25px;
	}

	.form-header{
		text-align: center;

	}

	label{
		display: block;
		padding-top: 20px;
		text-align: center;
		letter-spacing: 4px;
	}
	


	label .label-text{
		font-size: 12px;
		line-height: 15px;
  		-moz-transform: translateY(-32px);
  		-ms-transform: translateY(-32px);
  		-webkit-transform: translateY(-32px);
  		transform: translateY(-32px);
  		transition: all 0.3s; 
	}

	input[type=text], input[type=email], input[type=password], input[type=date], input[type=time] {
		background-color: transparent;
    	border: 0;
    	border-bottom: 2px solid rgba( 0, 188, 212, 0.75);
    	color: rgba( 0, 188, 212, 1);
    	font-size: 18px;
    	letter-spacing: -1px;
    	outline: 0;
    	padding: 5px 20px;
    	text-align: center;
    	transition: all 0.3s;
    	max-width: 100%;
    	font-family: 'Monda', sans-serif;
    	letter-spacing: 3px;
    	font-size: 0.95em;
	}

	input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=date]:focus, input[type=time]:focus{
  		width: 250px;
	}


	label input[type=text]:focus + div.label-text, label input[type=email]:focus + div.label-text,  label input[type=password]:focus + div.label-text, label input[type=date]:focus + div.label-text, label input[type=time]:focus + div.label-text{
		color: rgba( 0, 188, 212, 0.75);
  		font-size: 13px;
  		-moz-transform: translateY(-64px);
  		-ms-transform: translateY(-64px);
  		-webkit-transform: translateY(-64px);
  		transform: translateY(-64px);
		
	}



	label input[type=text]:valid + div.label-text, label input[type=email]:valid + div.label-text, label input[type=password]:valid + div.label-text, label input[type=date]:valid + div.label-text, label input[type=time]:valid + div.label-text {
  		font-size: 12px;
  		-moz-transform: translateY(-64px);
  		-ms-transform: translateY(-64px);
  		-webkit-transform: translateY(-64px);
  		transform: translateY(-64px);
	}


	input[type=submit]{
		background-color: rgba(255, 255, 255, 0.35);
		color: rgba( 0, 188, 212, 0.75);
		border-radius: 27px ;
		padding: 15px 30px;
		border: 2px solid rgba( 0, 188, 212, 1);
		text-align: center;
		text-decoration: none;
		font-size: 14px;
		margin-top: 10px;
		cursor: pointer;
		transition: all 200ms;
		font-family: 'Monda', sans-serif;
		position: relative;
		left: 20%;
	}

	input[type=submit]:hover, input[type=submit]:focus {
  		background-color: rgba( 0, 188, 212, 0.75);
  		color: white;
  		outline: 0;
	}

	#host-opts-dash{
		width: 30%;
		height: 650px;
		border-radius: 15px;
		position: fixed;
		overflow: auto;
  		z-index: 10;
  		top: 130px;
  		background-color:  rgba(255, 255, 255, 0.80);
  		-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 188, 212, 0.09) inset;
	}



	.host-viewer{
		width: 70%;
		height: 860px;
		border-radius: 15px;
		position: fixed;
		overflow: auto;
  		z-index: 7;
  		left:30%;
  		top: 15px;
  		background-color:  rgba(255, 255, 255, 0.80);
  		-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 188, 212, 0.09) inset;

    	opacity: 0;
    	
	}

	.slideOutViewer{
	    animation-name: slideOut;
    	animation-duration: 2.5s;
    	animation-delay: 0.5s;
    	animation-iteration-count: 1;
    	animation-timing-function: ease;
    	animation-fill-mode: forwards;

	}


	@keyframes slideOut{
	from{
		width: 0%;
		opacity: 0;
		
	}
	to{
		width: 70%;
		opacity: 1;
	
	}
	}


	.dash-opts{
		text-decoration: none;
	}

	#update-bttn{
		left: 45%;
	}

	.host-dash{
		display: none;
	}

	#host-event{
		left: 15%;
		top: 200px;
	}

	#host-myEvents{
		left: 15%;
		top: 300px;
	
	}

	#host-acct-settings{
		left: 15%;
		top: 400px;

	}

	#host-logout{
		left: 15%;
		top: 700px;
	
	}

	#host-logout a{
		color: #013f49;
	}

	#host-greeting{
		position: absolute;
		left: 5%;
		top: 10%;
		z-index: 15;
	}

	#delete-acct{
		z-index: 15;
		position: fixed;
		bottom: 90px;
		left: 90%;

	}

	#delete-acct a{
		text-decoration: none;
		color: #01334969;
	}

}

@media screen and (max-width: 1242px) {
	#host-event{
		left: 8%;
		top: 200px;
	}

	#host-myEvents{
		left: 8%;
		top: 300px;
	}

	#host-acct-settings{
		left: 2%;
		top: 400px;
	}

	#host-logout{
		left: 8%;
		top: 700px;
	
	}

	#update-bttn{
		left: 35%;
	}

	#delete-acct{
		z-index: 15;
		position: fixed;
		bottom: 90px;
		left: 80%;

	}


}