// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@media screen and (max-width: 2560px) {

	body{
		font-family: 'Monda', sans-serif;
		color: #013349;
		font-size: 0.90em;
	}

	.opt-tags{
		font-size: 0.95em;
		text-shadow: 0 1px 0 rgba(247, 189, 231, 0.35);
		position: fixed;
		cursor: pointer;
	}

	#rate{
		left: 10%;
		bottom: 10px; 
	}

	#guest{
		left: 30%;
		bottom: 10px; 
	}

	#acct{
		left: 50%;
		bottom: 10px; 
	}

	#onetime{
		left: 70%;
		bottom: 10px; 
	}

	#logInCode{
		left: 90%;
		bottom: 10px; 
	}

	#map, #mapHome, #mapDash, #hostMap, #partyPage{
		position: relative;
		height: 860px;
		width: 100%;
		background-color: grey;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: 10px;
		margin:0;
		padding: 0;
		   -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		


	}

	.invite-map{
		width: 100%;
		height: 100px;
		z-index: 5;
		position: fixed;
		bottom: 0;
		right: 0;
		left: 0;
		background-color:  rgba(255, 255, 255, 0.85);
  		-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 188, 212, 0.09) inset;
	}

	#invite{
		text-align: center;
		font-family: 'Monda', sans-serif;
		font-size: 2.5em;
		margin-top: 10px;
		padding: 50px;
		//color: #013349;
		color: rgba( 0, 188, 212, 0.96);
		text-shadow: 0 1px 0 rgba(247, 189, 231, 0.35);
		border-radius: 5px;
		background-color:  rgba(255, 255, 255, 0.02);
		   -webkit-box-shadow:0 1px 4px rgba(252, 254, 255, 0.3), 0 0 40px rgba(252, 254, 255, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(252, 254, 255, 0.3), 0 0 40px rgba(252, 254, 255, 0.1) inset;
            box-shadow:0 1px 4px rgba(252, 254, 255, 0.3), 0 0 40px rgba(252, 254, 255, 0.1) inset;
  	}

  	#invite-content{
  		display: none;
  		width:  30%;
  		height: 250px;
  		position: fixed;
  		//top: 200px;
  		left: 32%;
  		border-radius: 15px;
  		background-color:  rgba(255, 255, 255, 0.85);
  		-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 188, 212, 0.09) inset;

        animation-name: show-invite;
    	animation-duration: 4s;
    	animation-delay: 0.5s;
    	animation-iteration-count: 1;
    	animation-timing-function: ease;
  	}

	
  	@keyframes show-invite{
		0%{ left: 30%; top: 0;}
		25%{ left: 32%; top: 300px;}
		50%{ left: 32%; top: 200px;}
		65%{ left: 32%; top: 270px;}
		80%{ left: 32%; top: 200px;}
		95%{ left: 32%; top: 240px;}
		100%{ left: 32%; top: 200px;}
	
	}

	.options{
		display: none;
		overflow: auto;
		width:  30%;
  		height: 550px;
  		position: fixed;
  		border-radius: 15px;
  		z-index: 10;
  		top: 200px;
  		left: 35%;
  		background-color:  rgba(255, 255, 255, 0.80);
  		-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 188, 212, 0.09) inset;
	}

	.close-bttn, .locator{
		background-color:rgba( 0, 188, 212, 0.75);
    	border: none;
    	color: white;
    	-webkit-clip-path: circle(50% at 50% 50%);
		clip-path: circle(50% at 50% 50%);
		width: 25px;
		height: 25px;
		z-index: 20;
		position: fixed;
		top: 210px;
		left: 63%;
		cursor: pointer;
		
 
	}

	.locator{
		width: 55px;
		height: 55px;
		top: 450px;
		left: 48%;
		animation-name: locatorSignal;
    	animation-duration: 1s;
    	animation-delay: 0.5s;
    	animation-iteration-count: infinite;
    	animation-timing-function: ease;
    	background-image: linear-gradient(rgba( 0, 188, 212, 1), #136a75);
	}

	@keyframes locatorSignal{
	from{
		width: 55px;
		height: 55px;
		
	}
	to{
		width: 60px;
		height: 60px;
	
	}
}

	.arrows, .host-arrows{
		-webkit-clip-path: polygon(52% 100%, 99% 35%, 52% 92%, 0 36%);
		clip-path: polygon(52% 100%, 99% 35%, 52% 92%, 0 36%);
		background-color:  rgba( 0, 188, 212, 1);
		width: 30px;
		height: 30px;
		padding: 0px;
		border-radius: 5px;
		position: fixed;
		left: 49%;
		top: 635px;
		animation-name: bounce;
    	animation-duration: 1s;
    	animation-delay: 0.5s;
    	animation-iteration-count: infinite;
    	animation-timing-function: ease;
    	cursor: pointer;
	}

	@keyframes bounce{
	from{
		top: 635px;
		
	}
	to{
		top: 645px;
	
	}
}

	.host-arrows{
		left: 40%;
	}




#party-code, #logIn-slide{
	cursor: pointer;
}

	#party-code-edit{
		display: none;
	}

	#party-code-submit{
		left: 35%;
	}



  	.bubbles{
		width: 35px;
		height: 2px;
		position: fixed;
		bottom: 70px;
		left: 45%;
		z-index: 5;
		background-color:  rgba(255, 255, 255, 0.85);
  		-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(247, 189, 231, 0.99), 0 0 40px rgba(0, 188, 212, 0.96) inset;
            cursor: pointer;
  	}

  	#one{

	background-color: rgba(132, 204, 255, 0.10);
	animation-name: load;
    animation-duration: 4s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    width: 65px;
	
}
#second{
	left: 45.6%;
	background-color: rgba(132, 204, 255, 0.10);
	animation-name: load;
    animation-duration: 4s;
    animation-delay: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    width: 45px;
    bottom: 60px;

}

#third{
	left: 46.1%;
	background-color: rgba(132, 204, 255, 0.10);
	animation-name: load;
    animation-duration: 4s;
   	animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    width: 25px;
    bottom: 50px;

}



.location-marker-container{
	width: 55px;
	height: 55px;
	background-color:  rgba( 0, 188, 212, 0.5);
	z-index: 1;
	position: absolute;
	left: 49%;
	top: 69%;
	-webkit-clip-path: circle(50% at 50% 50%);
	clip-path: circle(50% at 50% 50%);
	animation-name: load;
    animation-duration: 2s;
   	animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

.location-marker-container-second{
	width: 35px;
	height: 35px;
	background-color:  rgba( 0, 188, 212, 0.75);
	z-index: 4;
	position: absolute;
	left: 49.6%;
	top: 70%;
	-webkit-clip-path: circle(50% at 50% 50%);
	clip-path: circle(50% at 50% 50%);
	animation-name: load;
    animation-duration: 4s;
   	animation-delay: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

.location-marker{
	width: 25px;
	height: 25px;
	background-color:  rgba( 0, 188, 212, 0.96);
	z-index: 6;
	position: absolute;
	left: 49.88%;
	top: 70.5%;
	-webkit-clip-path: circle(50% at 50% 50%);
	clip-path: circle(50% at 50% 50%);
	background-image: linear-gradient(rgba( 0, 188, 212, 1), rgba( 255, 255, 255, 0.96));
}

.location-marker a{
	text-decoration: none;
	color: rgba( 0, 188, 212, 1);
	font-size: 10px;

}

@keyframes load{
	from{
		opacity: 1;
		
	}
	to{
		opacity: 0.05;
	
	}
}

#one-time-host-payment-header{
	cursor: pointer;
}

.content-paragraphs{
	font-size: 0.85em;
	letter-spacing: 2px;
	text-align: center;
	width: 75%;
	margin: auto;
}


}



@media screen and (max-width: 1242px) {
		#map, #mapHome{
			position: relative;
			height: 860px;
			width: 100%;
		 	background-color: grey;
		 	top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border-radius: 10px;
			margin: 0;
			padding: 0;
			 -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	}

	#invite{
		text-align: center;
		font-family: 'Monda', sans-serif;
		font-size: 2.5em;
		margin-top: 10px;
		//color: #013349;
		color: rgba( 0, 188, 212, 0.96);
		text-shadow: 0 1px 0 rgba(247, 189, 231, 0.35);
		border-radius: 5px;
		background-color:  rgba(255, 255, 255, 0.02);
		   -webkit-box-shadow:0 1px 4px rgba(252, 254, 255, 0.3), 0 0 40px rgba(252, 254, 255, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(252, 254, 255, 0.3), 0 0 40px rgba(252, 254, 255, 0.1) inset;
            box-shadow:0 1px 4px rgba(252, 254, 255, 0.3), 0 0 40px rgba(252, 254, 255, 0.1) inset;
  		}

  	  	#invite-content{
  		width:  100%;
  		height: 250px;
  		position: fixed;
  		top: 300px;
  		left: 0%;
  		border-radius: 5px;
  		background-color:  rgba(255, 255, 255, 0.85);
  		-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 188, 212, 0.09) inset;

        animation-name: show-invite;
    	animation-duration: 4s;
    	animation-delay: 0.5s;
    	animation-iteration-count: 1;
    	animation-timing-function: ease;
  	}

  	 @keyframes show-invite{
		0%{ left: 1%; top: 0;}
		25%{ left: 1%; top: 300px;}
		50%{ left: 1%; top: 200px;}
		65%{ left: 1%; top: 270px;}
		80%{ left: 1%; top: 200px;}
		95%{ left: 1%; top: 240px;}
		100%{ left: 1%; top: 200px;}
	
	}




  	.bubbles{
		width: 35px;
		height: 2px;
		position: fixed;
		bottom: 70px;
		left: 45%;
		z-index: 5;
		background-color:  rgba(255, 255, 255, 0.85);
  		-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 188, 212, 0.96) inset;
            box-shadow:0 1px 4px rgba(247, 189, 231, 0.99), 0 0 40px rgba(0, 188, 212, 0.96) inset;
  	}

  	#one{

	background-color: rgba(132, 204, 255, 0.10);
	animation-name: load;
    animation-duration: 4s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    width: 65px;
	
}
#second{
	left: 47%;
	background-color: rgba(132, 204, 255, 0.10);
	animation-name: load;
    animation-duration: 4s;
    animation-delay: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    width: 45px;
    bottom: 60px;

}

#third{
	left: 48.9%;
	background-color: rgba(132, 204, 255, 0.10);
	animation-name: load;
    animation-duration: 4s;
   	animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    width: 25px;
    bottom: 50px;

}

@keyframes load{
	from{
		opacity: 1;

	}
	to{
		opacity: 0.05;
	
	}
}


.location-marker-container{
	width: 55px;
	height: 55px;
	background-color:  rgba( 0, 188, 212, 0.5);
	z-index: 1;
	position: absolute;
	left: 49%;
	top: 69%;
	-webkit-clip-path: circle(50% at 50% 50%);
	clip-path: circle(50% at 50% 50%);
	animation-name: load;
    animation-duration: 2s;
   	animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

.location-marker-container-second{
	width: 35px;
	height: 35px;
	background-color:  rgba( 0, 188, 212, 0.75);
	z-index: 4;
	position: absolute;
	left: 50.5%;
	top: 70%;
	-webkit-clip-path: circle(50% at 50% 50%);
	clip-path: circle(50% at 50% 50%);
	animation-name: load;
    animation-duration: 4s;
   	animation-delay: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

.location-marker{
	width: 25px;
	height: 25px;
	background-color:  rgba( 0, 188, 212, 0.96);
	z-index: 6;
	position: absolute;
	left: 51.5%;
	top: 70.5%;
	-webkit-clip-path: circle(50% at 50% 50%);
	clip-path: circle(50% at 50% 50%);
	background-image: linear-gradient(rgba( 0, 188, 212, 1), rgba( 255, 255, 255, 0.96));
}

.location-marker a{
	text-decoration: none;
	color: rgba( 0, 188, 212, 0.05);
	font-size: 10px;
	cursor: pointer;

}

	.options{
		width:  75%;
  		height: 550px;
  		position: fixed;
  		left: 12%;
  		border-radius: 15px;
  		background-color:  rgba(255, 255, 255, 0.85);
  		-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 188, 212, 0.09) inset;
	}

	.close-bttn{
		background-color:rgba( 0, 188, 212, 0.75);
    	border: none;
    	color: white;
    	-webkit-clip-path: circle(50% at 50% 50%);
		clip-path: circle(50% at 50% 50%);
		width: 25px;
		height: 25px;
		z-index: 20;
		position: fixed;
		top: 210px;
		left: 80%;
		cursor: pointer;
		display: none;
 
	}
	
}