// Place all the styles related to the Parties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media screen and (max-width: 2560px) {
	#party-submit{
		left: 37%;
    top: 250px;
	}

	.StripeElement {
  		height: 15px;
  		background-color: transparent;
    	border: 0;
    	border-bottom: 2px solid rgba( 0, 188, 212, 0.75);
    	color: rgba( 0, 188, 212, 1);
    	font-size: 18px;
    	letter-spacing: -1px;
    	outline: 0;
    	padding: 5px 20px;
    	text-align: center;
    	transition: all 0.3s;
    	max-width: 70%;
    	font-family: 'Monda', sans-serif;
    	letter-spacing: 3px;
    	font-size: 0.95em;
    	position: relative;
    	top: 150px;
    	left: 10%;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

#guest-payment{
	top: 250px;
	left: 42%;
}

#one-time-host-payment{
  display: none;
}

#one-time-host-back{
  position: fixed;
  top: 620px;
  left: 49%;
  cursor: pointer;
}

}

@media screen and (max-width: 1242px) {
		#party-submit{
		left: 32%;
	}
}