// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@media screen and (max-width: 2560px) {
#login_bttn{
	left: 35%;
}
}

@media screen and (max-width: 1242px) {

}